@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

/* MAIN MENU */
.main-menu {
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgb(255, 255, 255);
    width: 100%;
}
ul.main-nav {
    list-style: none;
    margin: 0;
}
.main-nav {
    display: flex;
}
.main-nav li:first-child {
    margin-right: auto;
}
.main-nav li {
    margin-left: 36px;
    padding: 20px 0 20px;
}
.main-nav a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
}
.main-nav a:active,
.main-nav a:hover {
    color: #5bc95b;
}

/* HERO SECTION */
#home {
    background: url(../img/hero-image.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .wrapper-text h1 {
    background: rgba(0,0,0,0.7);
    color: azure;
    padding: 10px 20px 10px;
}

/* 3-COLUMN LAYOUT */

.flex-grid {
    display: flex;
}
.flex-grid .col {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.flex-grid .col i {
    margin-bottom: 20px;
}